 /* work mulish font from google fonts */
 
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:ital,wght@0,900;1,900&family=Mulish:wght@300;400;800&family=Work+Sans:wght@500;600;700;900&display=swap');
 
  *{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
    
  }
  header,main{
    max-width: 1170px;
    margin: 0 auto;
  }
  /* navbar style */

  .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-container-title{
    display: flex;
    align-items: center;
  }
  .nav-container-title-heading{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    padding: 20px;
  }
  .nav-container-title-heading-echo{
    color: #FF5400;
  }
  .nav-container-menu ul{
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 44px;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
  }
  ul li{
    list-style: none;
  }
  .home{
    color: #FF5400;
    font-size: 18px;
    font-weight: 800;
  }